@import'../../../assets/styles/colors';
.logo{
    background-image: url(../../../assets/img/logo_bluesoft_vecto_blanc.png);
    width: 15%;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 150px;

}
.navbar{
    background-color: $darkblue;
    .nav-link{
        color: white;
    }
}