<div class="main-panel">
                  
    <div class="white-panel">
        <div class="logo"></div>    
        <div class="login-show m-5">
            <!-- <h2>LOGIN</h2> -->

            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control"  placeholder="Email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
            
            <input type="button" value="Se connecter">
            <a href="">Mot de passe oublié</a>
        </div>
    </div>
</div>
