<div class="main-panel">
  <div class="white-panel">
    <div class="logo"></div>
    <div class="login-show m-5">
      <form [formGroup]="authForm" >
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input [ngClass]="{ 'is-invalid': f.email?.invalid && f.email?.touched }"
            type="text"
            class="form-control"
            placeholder="Email"
            formControlName="email"
          />
          <div *ngIf="!f.email.valid && f.email?.touched " class="invalid-feedback">
            <div *ngIf="f.email?.errors?.required">email requis</div>
            <div *ngIf="f.email?.errors?.email">email invalid</div>
            <div *ngIf="f.email?.errors?.emailDomain">l'email doit avoir le domain bluesoft-group.com </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input [ngClass]="{ 'is-invalid': f.password?.invalid  && f.password?.touched}"
            type="password"
            class="form-control"
            placeholder="Mot de passe"
            formControlName="password"
          />
          <div *ngIf="f.password.invalid && f.password?.touched" class="invalid-feedback">
            <div *ngIf="f.password.errors?.required">mot de passe requis</div>
          </div>
        </div>
        <div class="input-group mb-3" *ngIf="page === 'register'">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input [ngClass]="{ 'is-invalid': f.confirmPassword?.invalid  && f.confirmPassword?.touched}"
            type="password"
            class="form-control"
            placeholder="confirmation mot de passe"
            formControlName="confirmPassword"
          />
          <div *ngIf="f.confirmPassword.invalid && f.confirmPassword?.touched" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors?.required">mot de passe requis</div>
            <div *ngIf="f.confirmPassword.errors?.mustMatch">mot de passe non identique</div>
          </div>
        </div>

        <input class="btn" [disabled]="authForm.invalid" (click)="submit()" type="button" [value]="submitBtn" />
        <a href="">Mot de passe oublié</a>
      </form>
    </div>
  </div>
</div>
