<div class="main-panel">

    <div class="white-panel">
        <div class="logo"></div>
        <div class="login-show m-5">
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" formControlName="email"  placeholder="Email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" formControlName="password"  placeholder="Mot de passe">
            </div>


            <input type="button" value="SignUp">
        </div>
    </div>
</div>
